body {
    background-color: aquamarine;
    font-size: 62.5%;
    max-width: var(--largura-max);
    font-family: 'Gowun Batang', system-ui;
    margin: 0 auto;
}

.cabecalho {
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 12vh;
    font-family: 'Spectral', serif;
}

.cabecalho .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding: 0 20px;
    font-size: 0.8rem;
    color: var(--cor-principal);
    border-radius: 10px;
    min-width: 178.7px;
    transition: 0.2s ease-in;
}

.cabecalho .logo h2 {
    line-height: 18px;
    font-weight: 700;
}

.material-symbols-outlined {
    transform: scale(1.6);
}

.cabecalho .logo:hover {
    background-color: var(--cor-acessoria);
    color: #fdecfd;
}


