body {
    background-color: aquamarine;
    font-size: 62.5%;
    max-width: var(--largura-max);
    font-family: 'Gowun Batang', system-ui;
    margin: 0 auto;
}

.cabecalho {
    background-color: var(--cor-alternativa2);
    display: flex;
    justify-content: space-between;
    padding: 2%;
    height: 12vh;
    font-family: 'Spectral', serif;
}

.cabecalho .logo {
    background-color: var(--cor-alternativa1);
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding: 0 40px;
    font-size: 0.8rem;
    color: var(--cor-principal);
}

.cabecalho .logo h2 {
    line-height: 18px;
    font-weight: 700;
}

.material-symbols-outlined {
    background-color: chartreuse;
    transform: scale(1.6);
}

.cabecalho .navegacao {
    background-color: var(--cor-alternativa1);
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
    font-weight: 700;
}

.cabecalho .navegacao ul {
    display: flex;
}

.cabecalho .navegacao .item {
    padding: 50px;
    color: var(--cor-principal);
    
}
