body {
    background-color: aquamarine;
    font-size: 62.5%;
    max-width: var(--largura-max);
    font-family: 'Gowun Batang', system-ui;
    margin: 0 auto;
}

.cabecalho {
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 12vh;
    font-family: 'Spectral', serif;
}

.cabecalho .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding: 0 20px;
    font-size: 0.8rem;
    color: var(--cor-principal);
    border-radius: 10px;
    min-width: 178.7px;
    transition: 0.2s ease-in;
}

.cabecalho .logo h2 {
    line-height: 18px;
    font-weight: 700;
}

.material-symbols-outlined {
    transform: scale(1.6);
}

.cabecalho .logo:hover {
    background-color: var(--cor-acessoria);
    color: #fdecfd;
}

.principal {
    background: url(../imagens/bg-3.jpg) no-repeat center center;
    background-size: cover;
    height: 80vh;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.principal .informacoes {
    padding: 5%;
}

.principal .informacoes .titulo {
    font-size: 3rem;
    padding-bottom: 20px;
    font-weight: 800;
}

.principal .informacoes .subtitulo {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
}

.principal .informacoes .subtitulo strong {
    font-weight: 700;
    font-size: 2.6rem;
}

.principal .informacoes .texto {
    font-size: 1.6rem;
    line-height: 1.8rem;
    padding-top: 20px;
}

.principal .informacoes .btn-agendar {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 10px 50px;
    margin: 20px 0;
    background-color: var(--cor-fundo);
    color: var(--cor-principal);
    border: none;
    border-radius: 15px;
}

.principal .foto {
    height: 100%;
    align-self: flex-end;
    position: static;
}

.principal .foto img {
    height: 100%;
}
