/* RESPONSIVO CABECALHO */

@media(max-width: 890px) {
    .principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .principal .informacoes {
        text-align: center;
        padding: 0;
    }

    .principal .informacoes .titulo {
        font-size: 3rem;
        font-weight: 800;
        padding-bottom: 0px;
    }
    
    .principal .informacoes .subtitulo1 {
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: 600;
    }
    
    .principal .informacoes .subtitulo2 {
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 600;
    }
    
    .principal .informacoes .subtitulo1 strong {
        font-weight: 700;
        font-size: 2rem;
    }
    
    .principal .informacoes .texto {
        font-size: 1.2rem;
        line-height: 1.8rem;
        font-weight: 600;
        padding: 0 40px;
    }
    
    .principal .informacoes .btn-agendar {
        margin: 10px;
    }

    .principal .foto {
        height: 50%;
        align-self: auto;
    }

}

@media(max-width: 721px) {
    .navegacao ul .item {
        display: none;
    }

    .navegacao .menu {
        display: block;
    }

    /* MOSTRAR AS OPÇÕES DO MENU  */
    .menu-responsivo:checked ~ ul {
        display: flex;
        flex-flow: column wrap;
        text-align: center;
        background-color: var(--cor-fundo);
        transform: translateY(75%);
        position: absolute;
        right: 0;
        width: 153.27px;
    }
    
    .menu-responsivo:checked ~ ul .item {
        display: inline-block;
    }
    
    .cabecalho .navegacao .item {
        color: var(--cor-principal);
        border-radius: 10px;
        transition: 0.2s ease-in;
        width: 100%;
    }
    
    .cabecalho .navegacao .item:hover {
        background-color: var(--cor-acessoria);
        color: #fdecfd;
    }
    
}

@media(max-width: 375px) {
    .cabecalho {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        height: 100%;
    }

    .cabecalho .logo {
        display: flex;
        justify-content: center;
        padding: 20px 5px;
    }

    .navegacao .menu .responsivo, .navegacao label {
        display: none;
    }

    .navegacao ul .item {
        display: inline-block;
    }
    
    .navegacao{
        flex-flow: column wrap;
        text-align: center;
    }
    
    .navegacao ul{
        flex-flow: column wrap;
        width: 178.69px;
    }

    .principal .informacoes .titulo {
        margin-top: 10px;
    }

    .principal .informacoes .texto {
        line-height: 1.2rem;
        padding: 20px 25px;
    }

    .principal .foto {
        height: 45%;
    }




}