:root {
    --cor-fundo: #fdecfd;
    --cor-principal: #5e376d;
    --cor-acessoria:#ee82ee;
    --cor-alternativa1: #f8c0c8;
    --cor-alternativa2: #efe7d3;
    
    --largura-max: 1280px;
}



/* --cor-acessoria: #d4bbdd; */




